/resources/connectie.xml
/target/
/Applikaasie_LOP_testdata.sql
/workshop2_slf4j.log
/Overzicht_sql.txt
/.classpath
/.metadata
/src/databaseconnection
/src/pojo
/src/test/resources/META-INF
/src/structuur
/properties
/*.jar
/.settings
