/resources/connectie.xml
/target/
/Applikaasie_LOP_testdata.sql
/workshop1_slf4j.log
/.classpath
/.metadata
/src/databaseconnection
/src/pojo
/src/test/resources/META-INF
/src/structuur
/properties
/*.jar

